@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wdth,wght@0,75..100,100..700;1,75..100,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --sx-color-primary: red
}

*{
    font-family: 'Inter', 'Raleway', sans-serif !important;
    margin: 0 ;
}
p{
    margin: 0;
}

.square-calendar {
  width: 100%;          
  max-width: 100%;       
  aspect-ratio: 1 / 1;  
  margin: 0 auto;      
}
.sx__month-grid-day__header{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sx__month-grid-day__header-date{
  font-family: 'Inter', 'Raleway', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--sx-text-color);
  text-align: center;
  width: 100%;
  height: 100%;
}
.square-calendar .sx-calendar .sx-calendar-content {
  flex: 1 1 auto;
  overflow: auto;
}
.sx__calendar{
  border: none;
}
.sx__calendar-header.sx__calendar-header, .sx__month-agenda-events{
  display: none;
}
